{% extends 'management/base.html' %}
{% load static %}
{% block content %}

<!-- CSS -->
<link href="{% static 'password_change_style.css' %}" type="text/css" rel="stylesheet">

<h1 class="password_change-title">Change Password</h1>
<div id="password_change">
    <form method="post" action=""　name='form-password_change' id='password_change-form'>
        {% csrf_token %}
        <table>
            {{ form.non_field_errors }}
            {% for field in form %}
            <tr class="password_change-input">
                <td>
                    <label class="col-6" for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                </td>
                <td>
                    <div class="form-group">
                        {{ field }}
                        {{ field.errors }}
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
        <button type="submit" class="btn btn-primary btn-lg">update</button>
    </form>
</div>

{% endblock %}